<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<style>
	.child-task td {
		padding-left: 3rem;
	}
</style>
<title>TodoApp</title>
</head>
<body>
	<h1>TodoList</h1>
	<h3>マイタスク</h3>
	<table class="table table-borderless">
		<thead>
		</thead>
		<tbody id="todes">
			<tr class="todo" th:each="todo : ${todos}" 
				th:classappend="${todo.parent_id != null} ? 'child-task' : ''" 
				th:attr="data-parent-id=${todo.parent_id}">
				<td style="width:2rem">
					<input type="checkbox"name="done_flg"/>
					<input type="hidden" name="id" th:value="${todo.id}" />
					<input type="hidden" name="parent_id" th:value="${todo.parent_id}" />
				</td>
				<td style="width:22rem"><input type="text" style="border:none;width:22rem" name="title" th:value="${todo.title}"/></td>
				<td style="width:8rem"><input type="date" style="border:none;width:8rem" name="time_limit" th:value="${todo.time_limit}" /></td>
				<td style="width:5rem">
					<select name="priority" class="form-controll" style="width:5rem">
						<option value="priority01" th:selected="${todo.priority == 'priority01'}">低</option>
						<option value="priority02" th:selected="${todo.priority == 'priority02'}">中</option>
						<option value="priority03" th:selected="${todo.priority == 'priority03'}">高</option>
					</select>
				</td>
				<td style="width:7rem">
					<select name="category_id" class="form-controll" style="width:7rem">
						<option th:each="cat : ${categories}"
								th:value="${cat.category_id}"
								th:text="${cat.title_category}"
								th:selected="${cat != null and todo != null and cat.category_id == todo.category_id}">
						</option>
					</select>
				</td>
				<td th:if="${todo.parent_id == null}" style="width:10rem">
					<button type="button" class="btn btn-light rounded-radius p-0 text-muted font-weight-bold" data-toggle="modal"data-target="#modalC"
					style="width:10rem;border:1px solid black;">子タスクを追加</button>
					<div class="modal fade" id="modalC" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<form id="add_form_c">
										<input type="hidden" name="parent_id" value="親タスクのID">
										<input type="hidden" name="parent_title" value="親タスク名">
										<div class="form-group">
											<input type="text" style="border:none;width:22rem" id="parent_title" name="parent_title" readonly>
											<!--<input type="text" style="border:none;width:22rem" name="title" readonly />-->
										</div>
										<div class="form-group">
											<input type="text" name="title" class="form-control"placeholder="新しい子タスク"/>
										</div>
										<div class="form-group">
											<input type="date" name="time_limit" class="form-control" style="width:60%;" />
										</div>
										<div class="form-group">
											<select name="priority" class="form-control" style="width:20%;" th:value="${todo.id}">
												<option value="" selected>優先度</option>
												<option value="priority01">低</option>
												<option value="priority02">中</option>
												<option value="priority03">高</option>
											</select>
										</div>
										<div class="form-group">
											<select name="category_id" class="form-control" style="width:30%;">
												<option value="" selected>カテゴリ</option>
												<option th:each="cat : ${categories}"
													th:value="${cat.category_id}"
													th:text="${cat.title_category}"
													th:selected="${cat != null and todo != null and cat.category_id == todo.category_id}">
												</option>
											</select>
										</div>
										<button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="add_c">追加</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<input type="checkbox" style="width:2rem" name="done_flg2"/>
				</td>
			</tr>
		</tbody>
	</table>

	<div style="font-size:20px">
		<span id="done_count"></span>
		<span class="pr-3">件完了</span>
		<span class="button_for_show " style="display:inline-block"></span>
	</div>
	<table class="table table-borderless" style="display:none"id="done_table">
		<thead>
		</thead>
		<tbody id="donetodes">
			<tr class="todo" th:each="todo : ${doneTodos}">
				<td style="width:2rem">
					<input type="checkbox"name="done_flg" checked/>
					<input type="hidden" name="id" th:value="${todo.id}" />
				</td>
				<td  style="width:22rem"><input type="text" style="border:none;width:22rem;text-decoration:line-through" name="title" th:value="${todo.title}"/></td>
				<td><input type="date"style="border:none;display:none" name="time_limit" th:value="${todo.time_limit}" /></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<button type="button" class="btn btn-light rounded-circle p-0 text-muted font-weight-bold" data-toggle="modal"data-target="#modalAdd"
	style="width:2.5rem;height:2.5rem;">＋</button>
		<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form id="add_form_a">
							<div class="form-group">
								<input type="text" name="title" class="form-control"placeholder="新しいタスク"/>
							</div>
							<div class="form-group">
								<input type="date" name="time_limit" class="form-control" style="width:60%;" />
							</div>
							<div class="form-group">
								<select name="priority" class="form-control" style="width:20%;">
									<option value="" selected>優先度</option>
									<option value="priority01">低</option>
									<option value="priority02">中</option>
									<option value="priority03">高</option>
								</select>
							</div>
							<div class="form-group">
								<select name="category_id" class="form-control" style="width:30%;">
									<option value="" selected>カテゴリ</option>
									<option th:each="cat : ${categories}"
											th:value="${cat.category_id}"
											th:text="${cat.title_category}"
											th:selected="${cat != null and todo != null and cat.category_id == todo.category_id}">
									</option>
								</select>
							</div>
							<button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="add_t">追加</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-outline-secondary" id="delete">完了済みを削除</button>
	<button type="button" class="btn btn-outline-danger" id="delete_done_flg2">削除</button>

	<script type="text/javascript" th:src="@{/js/todo.js}"></script>
</body>
</html>